#box{
    width:500px;
    height:500px;
    /* border:1px solid #000; */
    background:white;
    text-align: center;
}

#button-style{

}

.btn-space {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}